.admin-header {
  padding: 5px 10px;
  height: 50px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 40px;
}

.logout-btn {
  background-color: #fdb940;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

.logout-btn:hover {
  background-color: #e0a828;
  color: #ffffff;
}

@media (max-width: 768px) {
  .admin-header {
    padding: 0 10px;
    height: 50px;
  }

  .logo {
    height: 30px;
  }

  .logout-btn {
    width: 80px;
    height: 35px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .admin-header {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
  }

  .logo {
    height: 25px;
  }

  .logout-btn {
    width: 70px;
    height: 30px;
    font-size: 12px;
  }
}
