.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 40px;
}

.navigation {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navigation ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation ul li {
  margin: 0 10px;
}

.navigation ul li a {
  text-decoration: none;
  color: #333;
  font-weight: light;
  transition: color 0.3s ease;
}

.navigation ul li a:hover {
  color: #fdb940;
}

.signin-container {
  display: flex;
  align-items: center;
}

.signin-container select {
  margin-right: 10px;
}

.signin-container button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signin-container button:hover {
  background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 1rem;
  }

  .logo {
    margin-bottom: 1rem;
  }

  .navigation ul {
    flex-direction: column;
    align-items: center;
  }

  .navigation ul li {
    margin: 10px 0;
  }

  .signin-container {
    flex-direction: column;
  }

  .signin-container select {
    margin: 0 0 10px 0;
  }
}

@media (max-width: 480px) {
  .navigation ul li {
    margin: 5px 0;
  }

  .signin-container button {
    width: 100%;
  }
}
