.siderbar-container {
    width: 256px;
    height: 100vh;
  }
  
  .ant-menu-item:hover,
 .ant-menu-submenu-title:hover {
    background-color: rgb(253, 185, 64) ;
    color: white ;
  }
  
.ant-menu-item-selected,
 .ant-menu-submenu-title-selected {
    background-color: rgb(253, 185, 64) !important;
    color: white !important;
  }
  
  
  