.vehicle-image {
    object-fit: cover;
    height: 200px;
    width: 100%;
}

@media (max-width: 768px) {
    .ant-row {
        margin-bottom: 16px;
    }
    
    .ant-col {
        display: flex;
        justify-content: center;
    }

    .ant-btn {
        width: 100%;
    }
}
